<form class="form-horizontal" >
	<fieldset>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstName">First
				Name</label>
			<div class="col-md-4">
				<input id="firstName" name="firstName" type="text"
				[(ngModel)] ="personalinfodataService.firstName"
					placeholder="First Name" class="form-control" required>

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastName">Last Name</label>
			<div class="col-md-4">
				<input id="lastName" name="lastName" type="text" [(ngModel)] ="personalinfodataService.lastName"
					placeholder="Last Name" class="form-control" required="">

			</div>
		</div>

		<!-- Text input-->

		<div class="form-group">
			<label class="col-md-4 control-label" for="dateOfBirth">Date of
				Birth</label>
			<div class="col-md-4">
				<div class='input-group date' id='datetimepicker1'>
					<input id="dateOfBirth" name="dateOfBirth" type="text"
						[(ngModel)] ="personalinfodataService.dateOfBirth"  class="form-control" required="">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="street">Street</label>
			<div class="col-md-4">
				<input id="street" [(ngModel)] ="personalinfodataService.street" name="street" type="text" placeholder="Street" 
					class="form-control" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="aptOrSuite">Apt/Suite</label>
			<div class="col-md-4">
				<input id="aptOrSuite" name="aptOrSuite" type="text"
					[(ngModel)] ="personalinfodataService.aptOrSuite" placeholder="Apt/Suite" class="form-control" required="">

			</div>
		</div>

		<!-- Search input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="state">State</label>
			<div class="col-md-4">
				<input id="state" name="state" type="text" placeholder="State"
					[(ngModel)] ="personalinfodataService.state" class="form-control" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="city">City</label>
			<div class="col-md-4">
				<input id="city" name="city" type="text" placeholder="City"
					[(ngModel)] ="personalinfodataService.city" class="form-control" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="zipCode">Zip Code</label>
			<div class="col-md-4">
				<input id="zipCode" name="zipCode" type="text"
					[(ngModel)] ="personalinfodataService.zipCode" placeholder="Zip Code" class="form-control" required="">

			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="submit"></label>
			<div class="col-md-4">
				<button id="submit" name="submit" (click)="clicked()" class="btn btn-primary" [routerLink]="['/sales','auto']">Submit</button>
			</div>
		</div>

	</fieldset>
</form>
