<div class="wrapper">
	<!-- PRICING-TABLE CONTAINER -->
	<div class="pricing-table group">
		<h1 class="heading">Pricing overview</h1>

		<div class="block personal fl">
			<ul class="features header">
				<li><span class="fontawesome-cog"></span>Comprehensive</li>
				<li><span class="fontawesome-star"></span>Collision</li>
				<li><span class="fontawesome-dashboard"></span>Body injury</li>
				<li><span class="fontawesome-cloud"></span>Personal Damage</li>
			</ul>
			<!-- /FEATURES -->
			<!-- PT-FOOTER -->
			<!-- /PT-FOOTER -->
		</div>
		<!-- PERSONAL -->
		<div class="block personal fl">
			<h2 class="title">personal</h2>
			<!-- CONTENT -->
			<div class="content">
				<p class="price">
					<sup>$</sup> <span>29</span> <sub>/mo.</sub>
				</p>
				<p class="hint">Perfect for freelancers</p>
			</div>
			<!-- /CONTENT -->
			<!-- FEATURES -->
			<ul class="features">
				<li><span class="fontawesome-cog"></span> <select
					class="selectpicker" data-style="btn-danger" >
						<option>$50,000/1,00,000</option>
						<option>$25,000/50,000</option>
						<option>$10,000/20,000</option>
				</select>
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-star"></span>
						<select class="selectpicker" data-style="btn-danger">
							<option>$50,000/1,00,000</option>
							<option>$25,000/50,000</option>
							<option>$50,000/1,00,000</option>
						</select>
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-dashboard"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-cloud"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
			</ul>
			<!-- /FEATURES -->
			<!-- PT-FOOTER -->
			<div class="pt-footer">
				<p>Host My Website</p>
			</div>
			<!-- /PT-FOOTER -->
		</div>
		<!-- /PERSONAL -->
		<!-- PROFESSIONAL -->
		<div class="block professional fl">
			<h2 class="title">Professional</h2>
			<!-- CONTENT -->
			<div class="content">
				<p class="price">
					<sup>$</sup> <span>99</span> <sub>/mo.</sub>
				</p>
				<p class="hint">Suitable for startups</p>
			</div>
			<!-- /CONTENT -->
			<!-- FEATURES -->
			<ul class="features">
				<li><span class="fontawesome-cog"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-success" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-star"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-warning" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-dashboard"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-warning" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-cloud"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
			</ul>
			<!-- /FEATURES -->
			<!-- PT-FOOTER -->
			<div class="pt-footer">
				<p>Host My Website</p>
			</div>
			<!-- /PT-FOOTER -->
		</div>
		<!-- /PROFESSIONAL -->
		<!-- BUSINESS -->
		<div class="block business fl">
			<h2 class="title">Business</h2>
			<!-- CONTENT -->
			<div class="content">
				<p class="price">
					<sup>$</sup> <span>249</span> <sub>/mo.</sub>
				</p>
				<p class="hint">For established business</p>
			</div>
			<!-- /CONTENT -->

			<!-- FEATURES -->
			<ul class="features">
				<li><span class="fontawesome-cog"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-star"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-dashboard"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-info" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
				<li><span class="fontawesome-cloud"></span>$50,000/1,00,000
					<div class="progress">
						<div data-percentage="0%" style="width: 60%;"
							class="progress-bar progress-bar-warning" role="progressbar"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div></li>
			</ul>
			<!-- /FEATURES -->

			<!-- PT-FOOTER -->
			<div class="pt-footer">
				<p>Host My Website</p>
			</div>
			<!-- /PT-FOOTER -->
		</div>
		<!-- /BUSINESS -->
	</div>
	<!-- /PRICING-TABLE -->
</div>